In [13]:
from google.cloud import bigquery
import pandas as pd

In [14]:
# Especifique o caminho para o arquivo JSON de credenciais
credencial = "/Users/juniorsilva/Downloads/python-curso-459117-fc7b944c47c6.json"

# Crie um cliente BigQuery usando as credenciais
client = bigquery.Client.from_service_account_json(credencial)

In [15]:
# Construa sua consulta
query = """ 

	SELECT
		id,
		first_name,
		last_name,
		state,
		email
	FROM
		`python-curso-459117.AulaPython.Clientes`
	WHERE state IN ('Piauí', 'Alagoas', 'Amazonas', 'Paraíba', 'Pernanbuco', 'Maranhão')

"""

# Execute a consulta
resultado = client.query(query)

"""
for row in resultado:
    print(row)
"""

# Converta os resultados em um DataFrame
df = resultado.to_dataframe()
df.head(30)

/Users/juniorsilva/develop/data/estudos-engenharia-dados/engenharia-dados-com-python-e-banco-de-dados/venv/lib/python3.13/site-packages/google/cloud/bigquery/table.py:1933: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

    id first_name  last_name     state                    email
0   18       Jair  Magalhães   Alagoas         jair@exemplo.com
1   80    Daniela       Góes   Alagoas      daniela@usuario.com
2   83      Frida     Freire   Alagoas                     None
3   23      Maria      Pires  Amazonas                     None
4   69    Gustavo    Cardoso  Amazonas        gustavo@teste.com
5   16      Laura     Santos  Maranhão        laura@exemplo.com
6   22     Heitor    Pereira  Maranhão                     None
7   39       Caio    Batista  Maranhão         caio@usuario.com
8   46     Rafael     Freire  Maranhão       rafael@exemplo.com
9   57  Stephanie    Barboza  Maranhão  stephanie@meu_email.com
10  74      Júlia    Almeida  Maranhão      júlia@meu_email.com
11  19     Caíque   Monteiro     Piauí       caíque@exemplo.com
12  56  Cristiano   Fagundes     Piauí    cristiano@usuario.com
13  94  Cristiano    Pereira     Piauí  cristiano@meu_email.com