In [28]:
import pandas as pd
import os

In [ ]:
v_2021 = "/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Consolidar/Vendas2021.xlsx"
v_2022 = "/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Consolidar/Vendas2022.xlsx"
v_2023 = "/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Consolidar/Vendas2023.xlsx"

In [30]:
df2021 = pd.read_excel(v_2021)
df2022 = pd.read_excel(v_2022)
df2023 = pd.read_excel(v_2023)

In [31]:
df2021.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2021-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2021-04-02,599,4,Acessórios,637,França,12,Relogio,120,739,15,11085,7795.125
2,2021-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2021-04-02,1151,4,Acessórios,637,França,12,Relogio,120,953,15,14295,7795.125
4,2021-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000

In [32]:
# Extrai o nome do arquivo sem o caminho e a extensão usando o módulo os
nome_arquivo01 = os.path.splitext(os.path.basename(v_2021))[0]
nome_arquivo02 = os.path.splitext(os.path.basename(v_2022))[0]
nome_arquivo03 = os.path.splitext(os.path.basename(v_2023))[0]

# Adiciona o nome do arquivo
df2021['Nome do Arquivo'] = nome_arquivo01
df2022['Nome do Arquivo'] = nome_arquivo02
df2023['Nome do Arquivo'] = nome_arquivo03

In [33]:
df2023.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos,Nome do Arquivo
0,2023-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400,Vendas2023
1,2023-04-02,599,4,Acessórios,637,França,12,Relogio,120,739,15,11085,7795.125,Vendas2023
2,2023-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400,Vendas2023
3,2023-04-02,1151,4,Acessórios,637,França,12,Relogio,120,953,15,14295,7795.125,Vendas2023
4,2023-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000,Vendas2023

In [34]:
consolidado = pd.concat([df2021, df2022, df2023], ignore_index=True)

In [ ]:
pasta_destino = "/home/juniorsilvadev/engenharia-dados/python-etl/Origem/Origem/arquivos_excel/Consolidar/Concat/"

nome_arquivo = "ConsolidadoArquivosComNome.xlsx"

dados = []

caminho_completo = os.path.join(pasta_destino, nome_arquivo)

if os.path.exists(caminho_completo):
    df_existente = pd.read_excel(caminho_completo)
    dados.append(df_existente)

consolidado.to_excel(caminho_completo, index=False)